<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Simpla Admin</title>
    @*@Styles.Render("~/Content/AdminCss")*@
     
    <link href="~/resources/css/invalid.css" rel="stylesheet" />
    <link href="~/resources/css/reset.css" rel="stylesheet" />
    <link href="~/resources/css/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="body-wrapper">
        <!-- Wrapper for the radial gradient background -->
        <div id="sidebar">
            <div id="sidebar-wrapper">
                <!-- Sidebar with logo and menu -->
                <h1 id="sidebar-title">
                    <a href="#">Yönetim Paneli</a>
                </h1>
                <!-- Logo (221px wide) -->
                <a href='@Url.Action("Index","Admin")'>
                    <img id="logo" src="resources/images/logo.png" alt="Simpla Admin logo" />
                </a>
                <!-- Sidebar Profile links -->
                <div id="profile-links">
                    Hello, <a href="#" title="Edit your profile">John Doe</a>, you have <a href="#messages"
                                                                                           rel="modal" title="3 Messages">3 Messages</a><br />
                    <br />
                    <a href="#" title="View the Site">View the Site</a> | <a href="#" title="Sign Out">
                        Sign
                        Out
                    </a>
                </div>
                <ul id="main-nav">
                    <!-- Accordion Menu -->
                    <li>
                        <a href='@Url.Action("Index","Admin")' class="nav-top-item no-submenu">
                            <!-- Add the class "no-submenu" to menu items with no sub menu -->
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index","Araba")' class="nav-top-item no-submenu">
                            <!-- Add the class "no-submenu" to menu items with no sub menu -->
                            Manage Cars
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index","Otel")' class="nav-top-item no-submenu">
                            Manage Otels
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index","Ucus")' class="nav-top-item no-submenu">
                            Manage Flying
                        </a>
                    </li>
                </ul>
                <!-- End #main-nav -->
                <div id="messages" style="display: none">
                    <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->
                    <h3>
                        3 Messages
                    </h3>
                    <p>
                        <strong>17th May 2009</strong> by Admin<br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in
                        mi at felis aliquet congue. <small>
                            <a href="#" class="remove-link" title="Remove message">
                                Remove
                            </a>
                        </small>
                    </p>
                    <p>
                        <strong>2nd May 2009</strong> by Jane Doe<br />
                        Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at
                        sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam.
                        Vivamus pretium ornare est. <small>
                            <a href="#" class="remove-link" title="Remove message">
                                Remove
                            </a>
                        </small>
                    </p>
                    <p>
                        <strong>25th April 2009</strong> by Admin<br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in
                        mi at felis aliquet congue. <small>
                            <a href="#" class="remove-link" title="Remove message">
                                Remove
                            </a>
                        </small>
                    </p>
                    <form action="" method="post">
                        <h4>
                            New Message
                        </h4>
                        <fieldset>
                            <textarea class="textarea" name="textfield" cols="79" rows="5"></textarea>
                        </fieldset>
                        <fieldset>
                            <select name="dropdown" class="small-input">
                                <option value="option1">Send to...</option>
                                <option value="option2">Everyone</option>
                                <option value="option3">Admin</option>
                                <option value="option4">Jane Doe</option>
                            </select>
                            <input class="button" type="submit" value="Send" />
                        </fieldset>
                    </form>
                </div>
                <!-- End #messages -->
            </div>
        </div>
        <!-- End #sidebar -->
        <div id="main-content">
            <!-- Main Content Section with everything -->
            <noscript>
                <!-- Show a notification if the user has disabled javascript -->
                <div class="notification error png_bg">
                    <div>
                        Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/"
                                                                                              title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852"
                                                                                                                                                                 title="Enable Javascript in your browser">enable</a> Javascript to navigate
                        the interface properly.
                    </div>
                </div>
            </noscript>
            <!-- Page Head -->
            <h2>
                Welcome John
            </h2>
            <p id="page-intro">
                What would you like to do?
            </p>
            <ul class="shortcut-buttons-set">
                <li>
                    <a class="shortcut-button" href='@Url.Action("Index","Araba")'>
                        <span>
                            <img src="resources/images/icons/1418818632_cool_64.png" alt="icon" width="64" height="64" /><br />
                            Manage Cars
                        </span>
                    </a>
                </li>
                <li>
                    <a class="shortcut-button" href='@Url.Action("Index","Otel")'>
                        <span>
                            <img src="resources/images/icons/Hotels_B-512.png" alt="icon" width="64" height="64" /><br />
                            Manage Otels
                        </span>
                    </a>
                </li>
                <li>
                    <a class="shortcut-button" href='@Url.Action("Index","Ucus")'>
                        <span>
                            <img src="resources/images/icons/1418818885_Paper_airplane.png" alt="icon" width="64" height="64" /><br />
                            Manage Flying
                        </span>
                    </a>
                </li>

            </ul>
            <!-- End .shortcut-buttons-set -->
            <div class="clear">
            </div>
            <!-- End .clear -->
            <div class="content-box">



                @RenderBody()


            </div>



            <div id="footer">
                <small>
                    <!-- Remove this notice or replace it with whatever you want -->
                    &#169; Copyright 2014 Debuggers | Powered by   | <a href="#"> Go To Top</a>
                </small>
            </div>
            <!-- End #footer -->
        </div>
        <!-- End #main-content -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)<!--scrips altındaki section buraya dahil edilecek zorunlu değil -->>
    @Scripts.Render("~/bundles/AdminScript")
</body>
</html>
