@model MvcApplication5.Models.Araba

<fieldset>
    <legend>Araba</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.arabaTipi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.arabaTipi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.renk)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.renk)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fiyat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fiyat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.marka)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.marka)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firmaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firmaId)
    </div>
</fieldset>
<p>
    <a href="#" title="Edit">
        <img src="resources/images/icons/pencil.png" alt="Edit" onclick="Edit(@Model.arabaId)" />
    </a>
    <input type="button" class="button" value="Back To List" id="btnNew" onclick="BackToList()" />
</p>
