@model IEnumerable<MvcApplication5.Models.Otel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout - Copy.cshtml";
}



<p>
    <input type="button" class="button" value="Create New" id="btnNew" onclick="Create()" />
</p>
<table id="table1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.odaTipi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firmalar.firmaAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.odaTipi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firmalar.firmaAdi)
        </td>
        <td>
        <td>
            <a href="#" title="Edit">
                <img src="resources/images/icons/pencil.png" alt="Edit" onclick="Edit(@item.otelId)" />
            </a>
            <a href="#" title="">
                <img src="resources/images/icons/information.png" alt="Details" onclick="Details(@item.otelId)" />
            </a>
            <a href="#" title="Delete">
                <img src="resources/images/icons/cross.png" alt="Delete" onclick="Delete(@item.otelId)" />
            </a>

        
        </td>
    </tr>
}

</table>
<script>
    function Create() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Create","Otel")',
            data: {},
            success: function (data) {
                $("#table1").html(data);

            }
        });
    }
    function BackToList() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("_List","Otel")',
            data: {},
            success: function (data) {
                $("#table1").html(data);

            }
        });
    }
    function Details(id) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details","Otel")',
            data: { id: id },
            success: function (data) {
                $("#table1").html(data);

            }
        });
    }
    function Edit(id) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit","Otel")',
            data: { id: id },
            success: function (data) {
                $("#table1").html(data);

            }
        });
    }
    function Delete(id) {
        var result = confirm("Silmek istediğinizden emin misiniz??");
        if (result)
        $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "Otel")',
            data: { id:id },
            success: function (data) {
                $("#table1").html(data);
                $("#table1").bind(data);

            }
        });
    }
    function DeleteConfirmed(id) {
        var result = confirm("Silmek istediğinizden emin misiniz??");
        if (result)
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteConfirmed", "Otel")',
                data: { id: id },
                success: function (data) {
                    $("#table1").html(data);
                    $("#table1").bind(data);

                }
            });
    }

</script>