@model IEnumerable<MvcApplication5.Models.Ucus>

<p>
    
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.saat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ucusSuresi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mesafe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sehir.sehirAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sehir1.sehirAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firmalar.firmaAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.saat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ucusSuresi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mesafe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sehir.sehirAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sehir1.sehirAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firmalar.firmaAdi)
        </td>
        <td>
            <a href="#" title="Edit">
                <img src="resources/images/icons/pencil.png" alt="Edit" onclick="Edit(@item.ucusId)" />
            </a>
            <a href="#" title="">
                <img src="resources/images/icons/information.png" alt="Details" onclick="Details(@item.ucusId)" />
            </a>
            <a href="#" title="Delete">
                <img src="resources/images/icons/cross.png" alt="Delete" onclick="Delete(@item.ucusId)" />
            </a>
        </td>
    </tr>
}

</table>
